<section class="content-header" id = "create-task">
	<h1>
		Create Task
		<!-- <small>Preview</small> -->
	</h1>
     <!--  <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol> -->
</section>

<div class="pad margin no-print" ng-if = "vm.taskCreatedSuccess">
  <div class="callout callout-success" style="margin-bottom: 0!important;">
    <h4><i class="fa fa-fw fa-check"></i> Success:</h4>
    Task has been created successfully and notifications have been sent to the correct people
  </div>
</div>

<div class="pad margin no-print" ng-if = "vm.taskCreatedError">
  <div class="callout callout-danger" style="margin-bottom: 0!important;">
    <h4><i class="fa fa-fw fa-remove"></i> Error:</h4>
    Task could not be created:
  </div>
</div> 


<section class="content">
<div class="row">
        <!-- left column -->
        
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-9">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Create new task</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" ng-submit = "vm.createTask()">
              <div class="box-body">
                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input required="" ng-model = "vm.data.name" type="text" class="form-control" placeholder="Give a title for the task">
                  </div>
                </div>
                <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Category</label>

                  <div class="col-sm-10">
                  <select required="" name="category" required="" class="form-control" ng-model="vm.data.category_id" ng-options="item.id as item.name for item in vm.categories" >
                  		<!-- <option value="">Select task category</option> -->
                  	</select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Description</label>

                  <div class="col-sm-10">
                  <textarea ng-model = "vm.data.summary" required="" class="form-control" rows="3" placeholder="description of task"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Access Level</label>

                  <div class="col-sm-10">
                  <select required="" name="category" required="" class="form-control" ng-model="vm.data.access_level" ng-options="item for item in vm.access_level" >
                  		<!-- <option value="">Select one</option> -->
                  	</select>
                    <!-- {{vm.access_level}} -->
                    <!-- <select class="form-control" name="browsers" ng-model="vm.selectedInsurance" ng-options="item.name for item in vm.insuranceCompanies track by item.id" >
                      <option value="">Select Insurance Company</option>
                    </select>
 -->

                  </div>
                </div>

                <div class="form-group">
                  <label for="priority" class="col-sm-2 control-label">Priority</label>

                  <div class="col-sm-10">
                  <select required="" name="priority" required="" class="form-control" ng-model="vm.data.priority" ng-options="item for item in vm.priority" >
                  		<!-- <option value="">Set priority for this task</option> -->
                  	</select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Due date</label>

                  <div class="col-sm-10">
                  <input required="" ng-model = "vm.data.due_date" type="date" class="form-control" placeholder="Due date">
                  </div>
                </div>

                <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Attachments</label>

                  <div class="col-sm-10">
                  <input type="file" class="form-control" placeholder="Due date">
                  <small>Attach any documents </small>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Assign to</label>

                  <div class="col-sm-10">
                  <select required="" class="form-control" ng-model="vm.data.assignee_id" ng-options="user.id as user.name + '     -     ' + user.department.name for user in vm.allUsers">
                  		<option value=""> </option>
                  	</select>
                  	<!-- <small>Hold ctrl to select multiple</small><br> -->
                    
                    <table class="">
                      <tr><td class="col-md-1">Selected</td>
                      <td>
                        <span ng-if = "!vm.data.assignee_id">None</span>
                        <!-- {{vm.data.assignee_id }} -->
                        <span ng-if = "vm.data.assignee_id">
                          
                          <span><i class="fa fa-fw fa-check"></i> {{vm.data.assignee_id}} </span>
                          
                        </span>   
                      </td>
                      </tr>
                    </table>
                  </div>
                </div>


                <div class="form-group">
                  <label for="category" class="col-sm-2 control-label">Notify</label>

                  <div class="col-sm-10">
                    <table class="table">
                      <thead>
                        <th>Departments</th>
                        <th>Users</th>
                      </thead>
                      <tbody>
                        <tr ng-repeat = "department in vm.departmentsAndUsers">
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" ng-change = "vm.departmentSelected(department)" ng-model = "department.selected" value="">
                                {{department.name}}
                              </label>
                            </div>
                          </td>
                          <td>
                          <div class="checkbox" ng-repeat = "member in department.members">
                            <label>
                              <input type="checkbox" ng-change = "vm.memberSelected($parent.$index)" ng-model="member.selected" value="">
                              {{member.name}} 
                            </label>
                          </div>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  
                  </div>
                </div>
  <!--                 $table->unsignedInteger('user_id');
            $table->unsignedInteger('department_id');
            $table->unsignedInteger('category_id');
            $table->string('name');
            $table->text('summary');
            $table->string('access_level');
            $table->smallInteger('prority');
            $table->dateTime('due_date');
            $table->smallInteger('progress_status'); //1%-100% -->

                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                <button type="submit" class="btn btn-info pull-right">Create</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
    
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>