<div class="col-md-4 no-padding-right" dw-loading = "loadingfilter" dw-loading-options = "{text: '', spinner:false }"  show-loader loader-key = "'loadingfilter'" is-true = "vm.loadingfilter">
  <div class="box box-info">
            <!-- <div class="box-header with-border">
              <h3 class="box-title">Task list</h3>
            </div> -->
            <!-- {max-height: 100px;overflow-y: scroll;} -->
            <style type="text/css">
              .task-active {
                background: #ecf0f5;
              }
            </style>
            <div class="box-body"  ng-style = "{'max-height':vm.hgt,'overflow-y': 'scroll' }">Tasks lists
              <table class="table table-hover">
                <tr style="cursor: pointer" ng-class = "{'task-active': vm.taskid == task.id}" ng-click="vm.taskid=task.id" ng-repeat = "task in vm.tasks"><td style="color: #1483c3">
                 <span class="label label-primary">{{task.category.name}}</span><span style="margin-left:10px; font-size: 14px">{{task.name}}</span>

               </td></tr>

               <!-- <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr> -->
             </table>

           </div>

         </div>
       </div>
       <!--/.col (left) -->
       <!-- right column -->
       <div class="col-md-8" dw-loading = "loadingfilter" dw-loading-options = "{text: '', spinner:false }"  show-loader loader-key = "'loadingfilter'" is-true = "vm.loadingfilter">
        <!-- Horizontal Form -->
        <task-detail-directive taskid = "vm.taskid"></task-detail-directive>
          <!-- /.box -->
          <!-- general form elements disabled -->

          <!-- /.box -->
        </div>