<div class="col-md-4 no-padding-right" dw-loading = "loadingFilter" dw-loading-options = "{text: '', spinner:false }"  show-loader loader-key = "'loadingFilter'" is-true = "vm.loadingFilter">
  <div class="box box-info">
            <!-- <div class="box-header with-border">
              <h3 class="box-title">Task list</h3>
            </div> -->
            <!-- {max-height: 100px;overflow-y: scroll;} -->
            <div class="box-body" ng-style = "{'max-height':vm.hgt,'overflow-y': 'scroll' }">Tasks lists
              <table class="table">
                <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>

               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>

               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>

               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>

               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>

               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>

               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
               <tr><td style="color: #1483c3">
                 <span class="label label-primary">Employee onboarding</span><span style="margin-left:10px; font-size: 14px">Create admin backend for Cytonn web application - task management</span>

               </td></tr>
             </table>

           </div>

         </div>
       </div>
       <!--/.col (left) -->
       <!-- right column -->
       <div class="col-md-8" dw-loading = "loadingFilter" dw-loading-options = "{text: '', spinner:false }"  show-loader loader-key = "'loadingFilter'" is-true = "vm.loadingFilter">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title" style="display: inline-block;">Task Description</h3>
            <div class="pull-right">
              <small>Status</small> <span class="label label-primary">IN PROGRESS</span>
            </div>
          </div>
          <!-- /.box-header -->
          <!-- form start -->



          <form class="form-horizontal">
            <div class="box-body no-padding-top">
              <div class="form-group no-margin-bottom">
                <!-- <label style="padding: 0" for="name" class="col-sm-2 control-label">Title</label> -->

                <div class="col-sm-12">
                  <!-- <small>Title</small> -->
                  <h4 style="color: #1483c3;display: inline-block;"><i class="fa fa-fw fa-pencil-square-o"></i>Create admin backend for Cytonn web application - task management </h4>
                  <div class="pull-right" style="margin-top: 8px;margin-left: 28px"> 
                  <span class="label label-danger">0% DONE</span>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-bottom: 0">
                <!-- <label style="padding: 0" for="category" class="col-sm-2 control-label">Description</label> -->

                <div class="col-sm-12">
                  <table class="table" style="margin-bottom: 18px; font-size: 15px">
                    <tr>
                      <td style="">
                        <small style="color: #9a9797;">Summary</small><br/>
                        <span>
                         Description of this task comes here... mostly longer text than the title bla bla bla bla bla bla
                       </span>
                     </td>
                   </tr>
                 </table>

               </div>
             </div>

             <table class="table">
              <tr>
                <td>Category</td>
                <td>Access Level</td>
                <td>Priority</td>
                <td>Due date</td>
                <td>Assigned to</td>
              </tr>
              <tbody>
                <tr>
                  <td>EMPLOYEE ONBOARDING</td>
                  <TD>Public</TD>
                  <td>High</td>
                  <td>31 July 2016</td>
                  <td>John Mwenda Kiara</td>
                </tr>
              </tbody>
            </table>


          </div>
          <!-- /.box-body -->
            <!--   <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Create</button>
              </div> -->
              <!-- /.box-footer -->
            </form>


          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->

          <!-- /.box -->
        </div>