<section class="content-header">
	<h1 style="display: inline-block;float: left;">
		{{vm.current_filter_name}} 
		<!-- <small>Preview</small> -->
	</h1>
  <div class="dropdown" style="margin-left: 10px; float: left">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Switch filter
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a ng-click = "vm.changeFilter('all')" href=""><i ng-if ="vm.current_filter == 'all' " class="fa fa-fw fa-check"></i> All tasks</a></li>
        <li><a ng-click = "vm.changeFilter('reported_by_me')" href=""><i ng-if ="vm.current_filter == 'reported_by_me' " class="fa fa-fw fa-check"></i>Reported by me</a></li>
        <li><a ng-click = "vm.changeFilter('assigned_to_me')" href=""><i ng-if ="vm.current_filter == 'assigned_to_me' " class="fa fa-fw fa-check"></i>Assigned to me</a></li>
        <li><a ng-click = "vm.changeFilter('private_tasks')" href=""><i ng-if ="vm.current_filter == 'private_tasks' " class="fa fa-fw fa-check"></i>Private tasks</a></li>
        <li><a ng-click = "vm.changeFilter('public_tasks')" href=""><i ng-if ="vm.current_filter == 'public_tasks' " class="fa fa-fw fa-check"></i>Public tasks</a></li>
        <li><a ng-click = "vm.changeFilter('following')" href=""><i ng-if ="vm.current_filter == 'following' " class="fa fa-fw fa-check"></i>Following</a></li>

      </ul>
    </div>
    <div class="clearfix"></div>
     <!--  <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol> -->
</section>


<section class="content">
<div class="row">

  <tasks-display tasks="vm.tasks" loadingfilter="vm.loadingFilter"></tasks-display>
        <!-- left column -->  
        <!--/.col (right) -->
      </div>
</section>