<section class="content-header">
	<h1 style="display: inline-block;float: left;">
		Departments 
		<!-- <small>Preview</small> -->
	</h1>
  <!-- <div class="dropdown" style="margin-left: 10px; float: left">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Administration Department
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="">IT Department</a></li>
        <li><a href="">Finance</a></li>
        <li><a href="">Stores and supplies</a></li>
        <li><a href="">Operations department</a></li>
        
      </ul>
    </div> -->

    <div class="dropdown" style="margin-left: 10px; float: left">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Switch filter
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        
        <li ng-repeat = "department in vm.departments">
        <a ng-click = "vm.changeFilter(department)"><i ng-if ="vm.current_id == department.dep_id " class="fa fa-fw fa-check"></i> {{department.name}}</a>
        </li>
        



       <!--  <li><a ng-click = "vm.changeFilter('finance')" href=""><i ng-if ="vm.current_filter == 'finance' " class="fa fa-fw fa-check"></i>Finance</a></li>
        <li><a ng-click = "vm.changeFilter('stores_and_supplies')" href=""><i ng-if ="vm.current_filter == 'stores_and_supplies' " class="fa fa-fw fa-check"></i>Stores and supplies</a></li>
        <li><a ng-click = "vm.changeFilter('operations')" href=""><i ng-if ="vm.current_filter == 'operations' " class="fa fa-fw fa-check"></i>Operations department</a></li> -->

      </ul>
    </div>
    <!-- <div class="clearfix"></div> -->
    <div>
    <button style="margin-left: 10px" type="button" class="btn btn-default">Public</button>

    <button style="margin-left: 5px" type="button" class="btn btn-default">Private</button>
    <!-- <div class="dropdown" style="margin-left: 10px; float: left">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Public
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="">Private</a></li>
        
      </ul>
    </div> -->
    <div class="clearfix"></div>
    <h4>{{vm.current_department.name}}</h4>
     <!--  <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol> -->
</section>


<section class="content">
<div class="row">
      <tasks-display tasks="vm.tasks"></tasks-display>
      
      </div>
</section>